<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список авторів</title>

    <style>
        a {
            color: black;
            text-decoration: none;
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2>
        Автори
    </h2>
    <ul>
        {% for author in authors_list %}

            <li>
                <a href="{% url 'authors_posts' author.id %}" target="_blank" >
                    {{ author.name }}
                </a>
            </li>

        {% endfor %}
    </ul>
</body>

</html>