<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список постів за автором</title>

    <style>
        a {
            color: black;
            text-decoration: none;
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h2>
        Пости
    </h2>
    <ul>
        {% for post in posts_list %}

            <li>
                <a href="{% url 'post_details' post.id %}" target="_blank" >
                    {{ post.title }} - {{ post.published_date }}
                </a>
            </li>

        {% endfor %}
    </ul>
</body>

</html>